* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:white;
  scroll-behavior:smooth;
}

#progress-bar {
  position:fixed;
  top:0;
  left:0;
  height:4px;
  width:0%;
  background:#6366f1;
  z-index:9999;
}

header {
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 8%;
  background:rgba(0,0,0,0.5);
  backdrop-filter:blur(10px);
}

nav a {
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.hero {
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding:20px;
}

.profile-img {
  width:180px;
  border-radius:50%;
  margin-bottom:25px;
  border:4px solid #6366f1;
  box-shadow:0 15px 40px rgba(0,0,0,0.5);
}

h1 {
  font-size:2.5rem;
}

h2 {
  margin-top:10px;
  color:#6366f1;
}

.hero-buttons {
  margin-top:25px;
}

.btn {
  padding:12px 30px;
  background:#6366f1;
  color:white;
  text-decoration:none;
  border-radius:30px;
  margin-right:15px;
  transition:0.3s;
}

.btn:hover {
  transform:scale(1.05);
}

.btn-outline {
  padding:12px 30px;
  border:2px solid #6366f1;
  color:#6366f1;
  text-decoration:none;
  border-radius:30px;
}

.section {
  padding:100px 10%;
}

.timeline-item {
  margin-bottom:40px;
  border-left:3px solid #6366f1;
  padding-left:20px;
}

footer {
  text-align:center;
  padding:30px;
  background:#111827;
}
